body
    
    {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    }
header { 
    background: #026680;
    color: white;
    padding: 1rem;
    text-align: center;
    }
main {
    padding: 2rem;
    padding-bottom: 70px;
    min-height: calc(100vh - 150px);
    }
footer {
    background: #038133;
    color: white;
    text-align: center;
    font-size: 14px;
    text-align: center;

    z-index: -10;

    height: 60px;
    padding: 10px 0;

    position: relative;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100%;
}
.main-menu ul {
    display: flex;
    background: #2c3e50;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu li {
    position: relative;
}
.main-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: background 0.3s;
}
.main-menu a:hover {
    background: #34495e;
}
.main-menu li:not(:last-child)::after {
    content: "|";
    color: #7f8c8d;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}